{% load static %}
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}?v=1.007">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'logo1.png' %}" type="image/x-icon">
    <title>Signly</title>
</head>
<body>
    <nav class="sticky-top">
        <div class="caja">
            <img class="logo" src="{% static 'logo1.png' %}"><h1>Signly - Base de Datos</h1>
            <h2>"Uniendo mundos con cada gesto"</h2><!--“Uniting worlds, one gesture at a time”-->
        </div>
    </nav>

    <div class="col-md-2 navegador">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'trainingMod_list' %}"><h4>Training Model</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sign_list' %}"><h4>Signos</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signVideo_list' %}"><h4>Videos</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'etiqueta_list' %}"><h4>Etiquetas</h4></a>
            </li>
        </ul>
    </div>

    <div class="col-md-10">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>