{% extends 'signly_db/base.html' %}

{% block content %}
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active bg-success" aria-current="page" href="{% url 'signVideo_list' %}">Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signVideo_new' %}">Agregar</a>
            </li>
        </ul>  
        <h3>Lista de Videos</h3>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <!--<td>Sign</td>-->
                    <td>Video</td>
                    <td>Estado</td>
                </tr>
            </thead>
            {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <!--<td>{{ video.id_signs }}</td>-->
                <td>{{ video.video }}</td>
                <td>
                    {% if video.estado == False %}<button class="amarillo"><a href="{% url 'signVideo_estadoT' pk=video.id %}">En Revisión</a></button>{% endif %}
                    {% if video.estado == True %}<button class="verde"><a href="{% url 'signVideo_estadoF' pk=video.id %}">Revisado</a></button>{% endif %}
                    {% if video.estado == True %}
                        {% if video.ap_re == False %}
                        <button class="rojo"><a href="{% url 'signVideo_ap_reT' pk=video.id %}">Rechazado</a></button>
                        {% else %}
                        <button class="verde"><a href="{% url 'signVideo_ap_reF' pk=video.id %}">Aprobado</a></button>
                        {% endif %}
                    {% endif %}
                    {% if video.estado and video.ap_re %}
                            {% if video.processed == True %}
                                Procesado
                            {% endif %}
                            {% if video.processed == False %}
                                No Procesado
                            {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

        <form action="{% url 'procesar_videos' %}" method="post">
            {% csrf_token %}
            <button class="procesar" type="submit">Procesar videos aprobados</button>
        </form>
    </div>
{% endblock %}