{% extends 'signly_db/base.html' %}
{% load static %}

{% block content %}
    <div>
        <ul class="nav nav-tabs nave">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'sign_list' %}">Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link activated bg-success" href="{% url 'sign_new' %}">Agregar</a>
            </li>
        </ul>  
        <a href="{% url 'sign_list' %}"><img src="{% static 'arrow.png' %}"></a>
        <h3>Agregue o Edite: </h3>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Guardar</button>
        </form>
    </div>

{% endblock %}