body {
    background-color: rgb(26, 26, 26);
    color: white;
}
div.caja {
    border: 1px, #000357, solid;
    padding-left: 2%;
}
div.navegador {
    padding-top: 1.5%;
}
h2 {
    display: flex;
    font-size: medium;
    padding-top: -1%;
    padding-bottom: 1%;
    padding-left: 11%;
}
h1 {
    display: inline;
    padding-left: 1%;
    padding-bottom: -1%;
}
h3 {
    padding-bottom: 1%;
}
.logo {
    padding-top: 2%;
    padding-right: 1%;
    width: 100px;
    display: inline-block;
    place-self: center;
}
table {
    width: 80%;
    height: auto;
    place-self: center;

}
td {
    border-collapse: collapse;
    border: 1px, solid #000357;
    text-align: center;
}
thead {
    font-weight: bold;
}
.navegador {
    border-right: solid #000357 1px;
}
a {
    color: #fff;
}
.bg-success {
    background-color: #000357;
}
.nav-tabs {
    border-bottom: 1px solid #000357;
}
.procesar {
    display: block;
    margin-top: 1%;
    background-color:#000357;
}
.procesar:hover {
    background-color: #fff;
    color: #000357;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: #000000;
}